[submodule "front-end"]
	path = front-end
	url = https://github.com/Helm-AI-SA22/front-end
[submodule "back-end"]
	path = back-end
	url = https://github.com/Helm-AI-SA22/back-end
[submodule "artificial-intelligence"]
	path = artificial-intelligence
	url = https://github.com/Helm-AI-SA22/artificial-intelligence
